<% keys = [ :rss, :vsize, :count, :total_allocated_object, :heap_used ] %>
<table width="100%">
  <tr>
    <th><%= link_to_dashboards('Controller') %></th>
    <th><%= link_to_dashboards('Action') %></th>
    <th><%= link_to_dashboards('num') %></th>
    <% keys.each do |key| %>
      <th><%= link_to_dashboards(key) %></th>
    <% end %>
  </tr>
  <% @data.each do |row| %>
    <tr>
      <td><%= "#{row[:controller]}" %></td>
      <td><%= "#{row[:action]}" %></td>
      <td><%= row[:num] %></td>
      <% keys.each do |key| %>
        <td><%= '%.3f' % (row[key].to_f/row[:num]) %></td>
      <% end %>
    </tr>
  <% end %>
</table>
